* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
.logo{
    width: 70px;
}
li {
  list-style-type: none;
}
a{
    text-decoration: none;

}
.heading-primary,
.heading-secondary,
.heading-tt {
  font-weight: 700;
  color: #333;
  letter-spacing: -1.2px;
}
.heading-primary {
  font-size: 3rem;

  margin-bottom: 2.8rem;
}

.heading-secondary {
  font-size: 2.6rem;
  margin-bottom: 2rem;
}
.heading-tt{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.subheading {
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  color: #ff1c01;
  text-transform: uppercase;
  margin-bottom: 0.8rem;
  letter-spacing: 2px;
}

.heading-tt {
}
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-decoration: none;
  transition: all 1s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #ff1c01;
}

.btn--full:hover {
  background-color: #d61f0a;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: white;
  color: #555;
}
.btn--outline:hover {
  background-color: transparent;
  /* border: 1px solid black; */
  box-shadow: inset 0 0 0 3px #fff;
}

.ms-s {
  margin-right: 1rem;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
  padding: 2rem 0;
}
.grid {
  display: grid;
  row-gap: 6rem;
  column-gap: 3rem;
}
.grid-center-v{
    align-items: center;
}

.grid--2--col {
  grid-template-columns: 1fr 1fr;
}
.grid--3--col {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--col {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5--col {
    grid-template-columns: repeat(5, 1fr);
  }
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    margin: 4rem 0;
}
.list li {
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
}
.price-info{
    text-align: center;
    padding: 2rem;
}

